@import "../../../vars";
.btn{
  display: block;
  color: $text-light;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.388;
   text-align: center;
  border-radius: 5px;
  height: 57px;
  outline: none;
  &:hover, &:focus{
    cursor: pointer;
  }
}