@import '../../vars';

.team {
  padding-top: 72px;
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 88px;
  }
}

.team-above-title {
  color: $text-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  margin-bottom: 16px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.65;
  }
  @media screen and (min-width: 1360px) {
    font-size: 20px;
    line-height: 1.375;
  }
}

.team-title {
  color: $text-dark;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
  margin-bottom: 24px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.team-sub-title {
  color: $text-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  text-align: center;
  padding-bottom: 63px;
  @media screen and (min-width: 768px) {
    padding-bottom: 24px;
    font-size: 18px;
  }
  @media screen and (min-width: 1360px) {
    padding-bottom: 36px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 18px;
  }
  @media screen and (min-width: 1360px){
    column-gap: 20px;
  }
}

.team-item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    &:not(:last-child) {
      //margin-right: 18px;
    }
  }
}
.picture-container{
  position: relative;
  &:hover .team-social-list{
    visibility: visible;
  }
  &:hover .team-photo{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    filter: brightness(0.6);
    scale: 1.1;
  }
}

.team-name {
  color: $text-dark;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 8px;
  //max-width: 100%;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 1.0;
  }
}

.team-position {
  color: $text-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.team-photo {
  width: 280px;
  margin-bottom: 16px;
  transition: scale $duration ease-in-out;
  transition: box-shadow $duration ease-in-out;
  transition: filter $duration ease-in-out;
  @media screen and (min-width: 768px) {
    width: 223px;
  }
  @media screen and (min-width: 1360px) {
    width: 421px;
  }

}
.team-photo:hover .team-social-list{
  visibility: visible;
}
.team-social-list{
  visibility: hidden;
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  justify-content: center;
  transition: visibility $duration ease-in-out;
}

.team-social-item:not(:last-child){
  margin-right: 25px;
}
.team-social-icon{
  height: 35px;
  width: 35px;
  fill: $text-light;
  transition: opacity $duration ease-in-out;
  &:hover,
  &:focus{
    cursor: pointer;
    opacity: 0.8;
  }
}