@import "../../vars";

.contact {
  padding-bottom: 25px;
  @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 0;
  }
}

.contact-pic {
  background-image: image-set(
                  url("../../images/images/home/contact.webp") 1x,
                  url("../../images/images/home/contact@2x.webp") 2x,
                  url("../../images/images/home/contact.jpg") 1x,
                  url("../../images/images/home/contact@2x.jpg") 2x
  );
  max-width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    width: calc(100% - 400px);
    height: auto;
  }
  @media screen and (min-width: 1360px) {
    width: calc(100% - 690px);
  }
}
.contact-inner{
  background-color: $bcg-dark;

  @media screen and (min-width: 768px) {
    width: 400px;
  }
  @media screen and (min-width: 1360px) {
    width: 690px;
  }
}
.contact-container{
  box-sizing: border-box;

}

.contact-form {

  padding-top: 51px;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 33px;
  }
  @media screen and (min-width: 1360px) {
    padding-top: 56px;
    padding-bottom: 77px;
  }
}

.form-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 69px;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.36;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1360px) {
    margin-bottom: 31px;
  }
}

.form-input {
  display: block;
  width: 100%;
  border: 1px solid $input-border;
  border-radius: 5px;
  padding: 16px 8px 16px 8px;
  color: $text-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4375;
  text-align: left;
  outline: none;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
 }

.input-name {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.input-email {
  margin-bottom: 24px;
  @media screen and (min-width: 1360px) {
    margin-bottom: 36px;
  }
}

.contactsBtn {
  width: 155px;
  height: 57px;
  background-color: $accent-green;
  border: none;
}