@import "../../vars";

.contact {
  background-color: $bcg-dark;
  padding-bottom: 25px;
  @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 0;
  }
}

.contact-picture {
  width: 320px;
  height: 100%;
  margin-bottom: 0;
  object-fit: cover;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 368px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1360px) {
    width: 670px;
  }
}

.contact-container {
  //width: calc(100% - 320px);
  //@media screen and (min-width: 768px) {
  //  width: calc(100% - 368px);
  //}
  //@media screen and (min-width: 1360px) {
  //  width: calc(100% - 670px);
  //}
}

.contact-form {
  padding-top: 51px;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 33px;
  }
  @media screen and (min-width: 1360px) {
    padding-top: 56px;
    padding-bottom: 77px;
  }
}

.form-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 69px;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.36;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1360px) {
    margin-bottom: 31px;
  }
}

.form-input {
  //width: calc(100% - 40px);
  display: block;
  width: 100%;
  border: 1px solid $input-border;
  border-radius: 5px;
  padding: 16px 8px 16px 8px;
  color: $text-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4375;
  text-align: left;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    //width: calc(100% - 2*32px);
  }
  @media screen and (min-width: 1360px) {
    //width: calc(100% - 2*28px);
  }

}

.input-name {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.input-email {
  margin-bottom: 24px;
  @media screen and (min-width: 1360px) {
    margin-bottom: 36px;
  }
}

.contactsBtn {
  width: 155px;
  height: 57px;
  background-color: $accent-green;
  border: none;
}